@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1e1e1e;
}

header {
  text-align: center;
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  color: #FFF;
}

main {
  max-width: 500px;
  padding: 20px;
  margin: auto;
}

form {
  
  display: grid;
  grid-template: 40px 40px 40px 40px / 1fr;
  gap: 1rem;
}

input, button {
  font-size: 1rem;
  border-radius: 5px;
}

input {
  text-indent: 1rem;
  border: 1px solid #ab5ddb;
  outline: none;
}

button {
  cursor: pointer;
  background-color: #ab5ddb;
  color: #FFF;
  border:2px solid #ab5ddb;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.025);
  box-shadow: 0 3px 5px #00000030;
}

.login {
  background-color: transparent;
}

hr {
  background-color: #ab5ddb;
  margin: 1rem 0;
  border: 0.010rem solid #ab5ddb;
  border-radius: 50px;
}